---
title: Configuring Okta as an Identity Provider
owner: Identity
---

This topic explains how to configure Okta as your identity provider by configuring
SAML integration in <%= vars.product_full %> .

## <a id='prerequisites'></a> Overview


## <a id='prerequisites'></a> Prerequisites

Have Okta
Configure in tile


## <a id='set-up-saml'></a> Set Up SAML in Okta

1. Sign in as an Okta administrator.

1. Navigate to your app and click the **Sign On** tab.

1. Under **Settings**, click **Edit**, and select **SAML 2.0**.

	<%= image_tag '../images/saml_radio_button.png' %>

1. Click the **General** tab.

1. Under **SAML Settings**, click the **Edit** button followed by the **Next** button.

	<%= image_tag '../images/okta_saml_config.png' %>

1. Configure the fields as follows:
<table class=nice>
	<tr>
			<th>Field</th>
			<th>Instructions</th>
	</tr>
	
	<tr>
		<td><strong>Single sign on URL</strong></td>
		<td>Enter <code>https<span>:</span>//PKS-API:8443/saml/SSO/alias/PKS-API<span>:</span>8443</code>. 
			<br>For example: <code>https<span>:</span>//api.pks.example.com<span>:</span>8443/saml/SSO/alias/api.pks.example.com<span>:</span>8443</code></td>
	</tr>
	
	<tr>
		<td><strong>Use this for Recipient URL and Destination URL</strong></td>
		<td>Ensure this checkbox is enabled.</td>
	</tr>
	
	<tr>
		<td><strong>Allow this app to request other SSO URLs</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Audience URI (SP Entity ID)</strong></td>
		<td>Enter <code>PKS-API:8443</code>. For example: <code>api.pks.example.com<span>:</span>8443</code></td>
	</tr>
	
	<tr>
		<td><strong>Default RelayState</strong></td>
		<td>Leave blank.</td>
	</tr>
	
	<tr>
		<td><strong>Name ID format</strong></td>
		<td>Select a name identifier format. For example <code>EmailAddress</code></td>
	</tr>
	
	<tr>
		<td><strong>Application username</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Update application username on</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Response</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Assertion Signature</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Signature Algorithm</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Digest Algorithm</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Assertion Encryption</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>SAML Single Logout</strong></td>
		<td><code>SingleLogoutService Location URL</code> from your downloaded service provider metadata.</td>
	</tr>
	
	<tr>
		<td><strong>authnContextClassRef</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Honor Force Authentication</strong></td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>SAML Issuer ID</strong></td>
		<td>Enter <code>Auth Domain URL</code>. For example: <code>http&#58;//&#119;&#119;&#119;.okta.com/${org.externalKey}</code></td>
	</tr>
	
	<tr>
		<td><strong>Attribute Statements</strong></td>
		<td>Specify any attribute statements that you want to map to users in the ID token.</td>
	</tr>
	
	<tr>
		<td><strong>Group Attribute Statements</strong></td>
		<td>Specify any group attribute statements that you want to map to users in the ID token. This is a group that users belong to in Okta.
</td>
	</tr>
	
</table>
	
	THe reset as deafult
	
	But do the group ones

1. Click the **Next** button followed by the **Finish** button.

1. Click **Identity Provider metadata** to download the metadata, or copy and save the link address of the **Identity Provider metadata**. You will need this Okta metadata for the next step, [Configure a Single Sign-On Service Provider](./config-sso.html).

	<%= image_tag '../images/id_provider_metadata.png' %>
